/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --title-color: hsl(0, 0%, 0%);
  --shadow-img: 0 0 48px hsla(0, 0%, 0%, 0.8);
  --shadow-img1: 0 0 30px hsla(0, 0%, 0%, 0.8);
  


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 700;
  --font-medium: 500;
  --font-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: var(--z-fixed);
  border-bottom: 1px solid #c6c7c9(197, 197, 197, 0.377);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  position: relative;
  width: 21%;
  
}


.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: width .4s ease-out;
}

/* Animation link on hover */


.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .6;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--black-color);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
  
  .about__container{
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__description{
    margin-bottom: 3rem;
  }

 

  .about__img{
    width: 460px;
 
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.fon{
  position: absolute;
  
}

.section {
  padding-block: 5 rem 1 rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}

.section__title{
  text-align: center;

  margin-bottom: 2rem;
  font-size: xx-large;

}

.about{
  background-color: #e9e9e9;
  
}

.main {
  position: relative;
  z-index: 2;
  padding-bottom: 6rem;
}

.about__container {
  row-gap: 3rem;
}


.about__data{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.button__quan{
    border-radius: 4rem;
    height: 3rem;
    width: 5rem;
    box-sizing: content-box;
    margin-top: 6rem;
    display: none;
}

.about__description{
  margin-bottom: 2rem;
  text-align: inherit;

 

}

.about__image{
  position: flex;
  justify-self: center;
  width: 350px;
  filter: drop-shadow(var(--shadow-img1));
  

}

.price {
    margin-top: 10rem !important;
    margin-right: 1rem;
    font-size: x-large !important;
    font-weight: 300;
}

.about__img{
  width: 300px;
  border-radius: 8px;
}

.button{
  background-color: rgb(255, 255, 255);
  padding: 1.25rem 1.5rem;
  color: black;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--body-font);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 8px;

}

@media screen and (min-width:576px){
  .about__container{
    grid-template-columns: 380px;
    justify-content: center;
  }

  .home__container{
    grid-template-columns: 400px;
    justify-content: center;

  }

  .footer__content{
    grid-template-columns: repeat(3, max-content) !important;
  }

}

@media screen and (min-width:768px){
  .about__container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .about__data,
  .about__data .section__title{
    text-align: initial;

  }

  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  

  

}

@media screen and (min-width: 1150px){
  .section{
    padding-block: 1rem 3.5rem;
  }

  .section__title{
    margin-bottom: 1.5rem;
  }

  .about__container{
    grid-template-columns: 500px 630px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__description{
    margin-bottom: 3rem;
  }

  .about__img{
    width: 460px;
    
  }

  .button {
    margin-top: 4.5rem;
  }

  .container{
    margin-inline: auto;
  }

  .home__container{
    grid-template-columns: 480px 535px;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }

  .home__img{
    width: 400px !important;
  }

  .home__data{
    text-align: initial !important;
  }

  .home__description{
    margin-bottom: 4.5rem !important;
  }

  .home__buttons{
    justify-content: initial !important;
    column-gap: 1.5rem !important;

  }

  .footer__logo{
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .footer__content{
    column-gap: 5.5rem;
  }

  .footer__title{
    font-size: larger;
    margin-bottom: 1.5rem;
  }

  .footer__social{
    column-gap: 1rem;
  }

  .footer__copy{
    margin-top: 7.5rem;
  }



  

}

.home.section1{
  background-image: url(/png/back.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.home.section{
  background-color: #313131;
}

.home__container{
  padding-top: 2.5rem;
  row-gap: 2rem;
  
}

.home__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.home__data{
  text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
  color: rgb(223, 223, 223);
}

.home__title span{
  color: #5f5f5f;
}

.home__description{
  margin-bottom: 3rem;
  color: rgb(255, 249, 241);
}

.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: 2rem;
}

/* кнопка */

.button1{
  background-color: #5f5f5fe7;
  color: white;
  font-weight: 400;
  padding: .5rem 1.5rem .5rem .5rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}

.button1:hover{
  background-color: #5f5f5f;
}

.button1 span{
  background-color: rgb(211, 216, 216);
  color: black;
  padding: .5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 1s;
}

.button1:hover span{
  transform: rotate(-30deg);
}

.button__link{
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: large;
  padding: 1.1rem 1.1rem 1.1rem 1.1rem;
  border-radius: 4rem;
  border: 0.1rem solid #5f5f5f;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
  transition: background-color .4s;
  cursor: pointer;
  margin: 20px auto;
}

.button__link:hover{
  background-color: #ffffff;
  color: rgb(41, 41, 41);
}


@media screen and (max-width: 320px){
  .container{
    margin-inline: 1rem;
  }

  .home__title{
    font-size: 2rem;
  }

  .home__buttons{
    flex-direction: column;
    row-gap: 1.5rem;

  }

  .footer__content{
    grid-template-columns: max-content;
  }
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}

.card__nazv{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 2rem;
  font-size: xx-large;
  font-weight: 700;
  color: #313131;
}

.card__container {
  padding-block: 5rem;
  margin-bottom: 2rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
   /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
  grid-template-columns: 500px 630px;
  column-gap: 8.5rem;
  padding-block: 1rem;
}

.card__image {
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}


.card__img {
  border-radius: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}



.card__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: black;
  margin-bottom: .75rem;
}

.card__description {
  display: block;
  font-size: var(--body-font);
  margin-bottom: .25rem;
  color: black;
}

.descrip{
    padding-top: 2rem;
    font-size: x-large;
}

.card__button {
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  color: #313131;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: black !important;
  display: none;
  position: relative;
  background-color: #ffffff;
  width: auto !important;
  border-radius: 35%;
}




.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(0, 0%, 0%) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }

  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next{
    display: none !important;
  }
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}


/*ФУТЕР*/

.footer{
  padding-block: 4rem 2rem;
  background-color: #313131;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  
  margin-top: auto;
}

.footer__container{
  row-gap: 4rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: rgb(194, 194, 194);
  font-size: medium;
  font-weight: 500;
  margin-bottom: .75rem;
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 4rem 3rem;
}

.footer__title{
  font-size: larger;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #dadada;
}

.footer__links{
  display: flex;
  row-gap: .75rem;
}

.footer__link{
  color: #d1d1d1e7;
  transition: color .4s;
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  color: #d1d1d1e7;
  font-size: 1.5rem;
  transition: color .4s;
}

.footer__link:hover,
.footer__social-link:hover{
  color: #ffffffe7;
}

.footer__copy{
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: small;
  
}

.title{
  background-color: #313131 !important;
  font-size: xx-large;
}

.title {
  padding-block: 2rem 2rem;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  text-decoration: none;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  


}

.product {
  display: flex;
  flex-direction: column;
  align-items: initial;
  padding-bottom: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  
}



.journals {
 
 background: #edeef0;
}



.product img {
  width: 240px;
  border-radius: 0.5rem;
  height: 335px;
}

.product .name {
  text-align: initial;
  margin-top: 0.5em;
  color: #000;
  text-decoration: none;
}

.name {
  color: black !important;
  font-size: xX-large !important;
  font-weight: 500;

}



.buttons {
  padding-bottom: 2rem;
  
}

.container2 {
  max-width: 900px;
  margin-inline: auto;
}

form {
  display: flex !important;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: flex-start;
}



.stat__container {
  grid-template-columns: 600px 460px;
  column-gap: 8.5rem;
  padding-block: 1rem;
}

.stat__cont {
  border-bottom: 1px solid #ffffff;
  display: flex;
}



.stat {
  background-color: #5f5f5f;
}

.stat__img {
  border-radius: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  height: 330px;
}

.stat__image {

    position: relative;

}

.stat__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid white;


}

.stat__data {
  position: relative;
  color: white;
}

.stat__title {
  margin-bottom: 1rem;
}




.stat {
  background-color: #303030;
}




.stat1__item {
  display: flex;
  flex-wrap: nowrap; /* Добавлено */
  align-items:center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-direction: row-reverse;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  background-color: #252525;
  border-radius: 0rem;
  border-bottom: 1px #161616 solid;
  border-width: .5rem;
}

.stat1__data {
  flex: 1 1 40%;
  
}

.stat1__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.stat1__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #fff;
}

.stat1__pic {
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;
  max-height: 330px;
  max-width: 520px;
  transition: transform .5s ease;
  border-radius: 1rem;
  margin: 1 1 1 1rem;
}



.stat1__pic:hover img {
  transform: scale(1.1);
}

.stat1__pic-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  transition: background-color .5s ease;
}

.stat1__pic:hover .stat1__pic-text {
  background-color: rgba(0, 0, 0, 0.8);
}

.stat1__pic_left {
  order: 1;
  margin-right: 30px;
}

.stat1__pic_right {
  order: 2;
  margin-left: 30px;
}

.stat1__item:nth-child(even) .stat1__pic {
  order: 2;
}

.stat1__item:nth-child(even) .stat1__data {
  order: 1;
}

.stat1__item:nth-child(odd) .stat1__pic {
  order: 1;
}

.stat1__item:nth-child(odd) .stat1__data {
  order: 2;
}

.button3 {
  
  background-color: rgb(255, 255, 255);
  padding: 1.25rem 1.5rem;
  color: black;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--body-font);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 8px;
}





.stat__container1 {
  grid-template-columns: 460px 500px;
  column-gap: 8.5rem;
  padding-block: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.button2{
  background-color: rgb(255, 255, 255);
  padding: 1.25rem 1.5rem;
  color: black;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--body-font);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 8px;
  margin-top: 3.3rem;

}

.card__nazv1 {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 2rem;
    font-size: xx-large;
    font-weight: 700;
    color: #ffffff;

}

.about1{
  background-color: #e9e9e9;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.state {
  background-color: #303030;
}

.opis {
  padding-left: 2rem;
}

.quantity-button {
  width: 1.1rem;
  border-radius: 50%;
  background-color: #dadada;
  color: black;
  border-color: #dadada;
}





.zagol {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}





table {
  border-spacing: 0rem 2rem;
}


.error-message {
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  margin-top: 25%;
  margin-bottom: 20%;
}



/* ширина таблицы */
main .cart table {
	width: 100%;
  table-layout: fixed;
  
}

/* полоска */
main .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}

/* заголовок количество */
main .cart table thead td:last-child {
	text-align: right;
}

/* количество */
main .cart table tbody td:last-child {
	text-align: right;
}

/* картинка */
main .cart table .img {
	max-width: 150px;
}

/* remove */
main .cart table .remove {
	color: #000000;
	font-size: 12px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}

/* цена */
main .cart table .price {
	color: #000000;
}


/* ввод количества */
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ffffff;
	color: #000000;
  text-align: center;
	border-radius: 0rem;
}










/* кнопка */
main .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
}
main .cart .buttons  {
	padding: 12px 20px;
	border: 0;
	background: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons:hover {
	background: #000000;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}


.auth-modal {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #fff; 
  padding: 20px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer__description {
  color: #c6c7c9;
}

.zagol1 {
  margin-top: 12rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 800;
  font-size: xx-large;
  color: #313131 !important;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: medium;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  border-radius: 4rem;
  border: 0.1rem solid #5f5f5f;
  display: inline-flex;
  align-items: center !important;
  column-gap: .75rem;
  transition: background-color .4s;
  cursor: pointer;

}

.quantity-btn.minus {
  padding-left: .9rem;
  padding-right: .9rem;
}


.quantity-btn:hover {
  background-color: #ffffff;
  color: rgb(41, 41, 41);
}

.quantity input[type="number"] {
  text-align: center !important; /* центрируем текст внутри input */
  width: 53px !important; /* ширина input по умолчанию */

}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tablea {
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}

.vivod {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #e4e4e4;
  border-radius: 2rem;
}

.subtotal {
  padding-bottom: 1rem;
}

.price {
  margin-left: .5rem;
}

.text {
  font-size: x-large !important;
  font-weight: 300;
}




